:root {
  color-scheme: light dark;
  color: #ffffffdd;
  background-color: #242424;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
